body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

hr {
    margin: 5px 0;
    width: 100%;
    box-sizing: border-box; /* Inclui o padding e a border no tamanho total do elemento */
}

a {
    text-decoration: none ;
    color: black !important;
}

.header_font{
    color: white !important;
}

.header_icon {
    max-width: 20px; /* Largura máxima ajustada para evitar esticamento */
    margin-right: 10px;
    cursor: pointer;
}

.header_icon_user {
    max-width: 20px; /* Largura máxima ajustada para evitar esticamento */
    cursor: pointer;
}

.logo {
    margin-left: 15px;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 100%;
     /* Isso faz com que a imagem cubra todo o espaço mantendo as proporções */
}

.navbar {
    top: 0;
    width: 100%;
    z-index: 1000; /* Certifique-se de que o z-index seja maior que outros elementos na página */
}

.container{
    margin-left: 80%;
}

.sub_header {
    border-bottom: 1px solid rgb(211, 205, 205); /* Define a borda preta de 1px */
    padding: 10px; /* Adiciona um preenchimento interno para evitar que o conteúdo encoste na borda */
    display: flex;
    align-content: center;
    justify-content: space-between; 
    align-items: center;
}

.navegador {
    font-size: 18px;
    text-align: right;
}

h3 {
    margin-top: 0;
    margin: 15px;
}

.table_form input[type="text"],
.table_form input[type="email"],
.table_form input[type="tel"],
.table_form select,
.table_form input[type="int"],
.table_form input[type="date"],
.table_form textarea,
.table_form input[type="number"] {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(211, 205, 205);
}

table input[type="text"],
table input[type="email"],
table input[type="tel"],
table select,
table input[type="int"],
table input[type="date"],
table textarea,
table input[type="number"] {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(211, 205, 205);
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}

table {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid #ddd; /* Adiciona uma borda em volta da tabela */
    background-color: #fff; /* Define o fundo da tabela como branco */
}

table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
    vertical-align: top;
}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

.add-row-button {
    margin-top: 10px;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    max-width: 15%;
    height: auto;
}

.add-row-button:hover {
    background-color: #333;
}

.botao_endpage {
    margin-bottom: 20px;
    width: 15%;
}

.table_form01 input[type="text"],
.table_form01 input[type="int"],
.table_form01 input[type="number"] {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(211, 205, 205);
}

.button-container {
    margin-top: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    font-weight: bold;
    width: 30%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button a {
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: black;
}

.cadastro form {
    display: contents;
}

.table_form {
    width: 24%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.table_form01 {
    width: 49%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
}

.forms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
}

.table td:first-child {
    width: 20%;
    background-color: #f7f7f7; /* cinza claro */
}

.table td:last-child {
    width: 80%;
}

.table {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden; /* para arredondar as bordas internas também */
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
}

.cadastro img {
    margin: 5px;
    max-width: 30px;
    height: auto;
}

.cadastro {
    width: 97%;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgb(211, 205, 205);
    margin-left: auto; /* Centraliza o elemento à esquerda */
    margin-right: auto; /* Centraliza o elemento à direita */
    margin-bottom: 20px; /* Adiciona uma margem de 20px na parte inferior */
}

.obg::before {
    content: "* ";
    color: red;
    margin-left: 5px; /* Adiciona um espaço entre a palavra e o asterisco */
    float: right; /* Alinha o asterisco à direita do texto */
}   

/* Para telas maiores que 700px e menores que 1070px */
@media screen and (min-width: 700px) and (max-width: 1070px) {
    .table_form {
        width: 30%;
    }
    .table_form01 {
        width: 45%;
        margin: 5px;
    }
    .button-container{
        margin-top: 20px;
    }
}

/* Para telas menores que 700px */
@media screen and (max-width: 700px) {
    .table_form {
        width: 40%;
    }
    .table_form01 {
        width: 98%;
        margin: 5px;
    }
    .button-container{
        margin-top: 15px;
    }
}

/* Para telas menores que 400px */
@media screen and (max-width: 600px) {
    .table_form {
        width: 100%;
    }
    .table_form01 {
        width: 98%;
        margin: 5px;
    }
    .button-container{
        margin-top: 10px;
    }
}
